---
---

@import "{{ site.theme }}";

// Customize the profile image size
img {
    border-radius: 50%;
    width: 150px;  // Adjust the width as needed
    height: 150px; // Adjust the height as needed
}

// Additional custom styles
h1, h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

// Set the style for icons
i {
    font-size: 1.2em; // Adjust this value to change the icon size
    margin-right: 8px; // Adjust the spacing between icon and text
    color: #333; // Adjust color to match your design
}

